:root {
  --main-bg-color: #152331;
  --pane-bg-color: #1D2A38;
  --hover-bg-color: #3d5876;
  --text-color: #FFFFFF;
  --accent-color: #3E92CC;
}

* {
  box-sizing: border-box;
}

body {
	color: var(--text-color);
	background-color: var(--main-bg-color);
	font-family: Josefin Sans;
}

.menu_container, .game_container {
	height: 100vh;
	padding: 20px;
}

.menu_container {
	display: flex;
	flex-direction: column;
	gap: 30px;
}

.game_container {
	display: grid;
	grid-template-areas:
		"header header header header"
		"pet pet stats needs"
		"pet pet actions actions";

	grid-template-rows: 80px 1fr 1fr;
	grid-template-columns: 25% 25% 15% 1fr;

	column-gap: 20px;
	row-gap: 20px;
}

.header_container {	
	display: flex;
	gap: 20px;

	grid-area: header;
}

.title_container {
	height: 80px;

	background-color: var(--accent-color);

	font-size: 40px;
	font-family: Josefin Sans;

	padding: 18px 26px 14px 26px;
	border-radius: 12px;

	cursor: pointer;
}

.menu_container .title_container {
	align-self: flex-start;
}

.name_container {
	background-color: var(--pane-bg-color);

	font-size: 40px;

	padding: 18px 26px 14px 26px;
	border-radius: 12px;
}

.new_game_form_container {	
	margin-bottom: 20px;

	font-size: 20px;

	display: flex;
	justify-content: center;
	align-items: center;
}

.new_game_input {
	color: var(--text-color);
	background-color: var(--pane-bg-color);

	height: 40px;
	width: 300px;

	border: 2px solid var(--accent-color);
	border-radius: 8px;

	font-size: 20px;
	font-family: Josefin Sans;
}

.actions_container {
	background-color: var(--pane-bg-color);
	border-radius: 12px;

	display: flex;
	gap: 30px;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	grid-area: actions;
}

.pet_actions_container {
	display: grid;
	grid-template-columns: 1fr  1fr;
	column-gap: 30px;
	row-gap: 30px;
}

.needs_container {
	background-color: var(--pane-bg-color);

	border-radius: 12px;

	display: flex;
	gap: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	grid-area: needs;
}

.single_need_container {
	margin-bottom: 10px;

	display: flex;
	flex-direction: row;
	gap: 20px;
}

.single_need_container:last-child {
	margin-bottom: 0px;
}

.need_label {
	color: var(--accent-color);
}

.need_empty_progress_bar {
	background-color: var(--main-bg-color);
	width: 350px;
	border-radius: 20px;
}

.need_filled_progress_bar {
	background-color: var(--accent-color);
	height: 24px;
	border-radius: 20px;
}

.game_container .stats_container {
	background-color: var(--pane-bg-color);

	border-radius: 12px;

	text-align: left;

	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	grid-area: stats;
}

.single_stat_container {
	margin-bottom: 10px;
}

.menu_container .single_stat_container {
	display: flex;
	gap: 5px;
}

.single_stat_container:last-child {
	margin-bottom: 0px;
}

.game_container .stat_label {	
	font-size: 25px;
}

.game_container .stat_value {
	color: var(--accent-color);

	font-family: monospace;
	font-size: 45px;
}

.game_button {
	color: var(--text-color);
	background-color: var(--main-bg-color);

	height: 70px;
	width: 350px;

	border: 2px solid var(--accent-color);
	border-radius: 12px;

	font-family: Josefin Sans;
	font-size: 30px;
}

.game_button:hover {
	color: var(--text-color);
	background-color: var(--pane-bg-color);

	border: 4px solid var(--accent-color);
}

.pet_container {
	font-size: 30px;
	font-family: monospace;
	font-weight: bold;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.game_container .pet_container {
	background-color: var(--pane-bg-color);
	border-radius: 12px;

	font-size: 90px;

	grid-area: pet;
}

.save_slot_grid_container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	row-gap: 20px;
	justify-items: center;
}

.save_slot_container {
	background-color: var(--pane-bg-color);
	color: var(--text-color);

	height: 250px;
	width: 250px;

	padding: 0px 25px;

	border: 2px solid var(--accent-color);
	border-radius: 10px;

	cursor: pointer;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

.save_slot_container:hover {
	border: 6px solid var(--accent-color);
}

.menu_button {
	color: var(--text-color);
	background-color: transparent;

	border: none;

	font-size: 40px;
}

.menu_button:hover {
	color: var(--accent-color);
}